/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.center > .content {
  display: flex;
  padding: 15px;
  background: #f0f0f0;
  border-radius: 10px;
}

.button {
  margin-right: 15px;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.button:last-child {
  margin-right: 0;
}

.tooltip {
  position: relative;
}
.tooltip:before, .tooltip:after {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
}
.tooltip:before {
  content: "";
  border: 5px solid transparent;
}
.tooltip:after {
  content: attr(data-tooltip);
  padding: 6px;
  background: black;
  border-radius: 3px;
  color: white;
  white-space: nowrap;
}

.tooltip-left:before {
  top: 50%;
  left: -8px;
  border-left-color: black;
  transform: translate(-50px, -50%);
}
.tooltip-left:hover:before {
  transform: translate(0px, -50%);
}
.tooltip-left:after {
  top: 50%;
  left: -8px;
  transform: translate(calc(-100% - 50px), -50%);
}
.tooltip-left:hover:after {
  transform: translate(-100%, -50%);
}

.tooltip-right:before {
  top: 50%;
  right: -8px;
  border-right-color: black;
  transform: translate(50px, -50%);
}
.tooltip-right:hover:before {
  transform: translate(0px, -50%);
}
.tooltip-right:after {
  top: 50%;
  right: -8px;
  transform: translate(calc(100% + 50px), -50%);
}
.tooltip-right:hover:after {
  transform: translate(100%, -50%);
}

.tooltip-top:before {
  top: -8px;
  left: 50%;
  border-top-color: black;
  transform: translate(-50%, -50px);
}
.tooltip-top:hover:before {
  transform: translate(-50%, 0px);
}
.tooltip-top:after {
  top: -8px;
  left: 50%;
  transform: translate(-50%, calc(-100% - 50px));
}
.tooltip-top:hover:after {
  transform: translate(-50%, -100%);
}

.tooltip-bottom:before {
  bottom: -8px;
  left: 50%;
  border-bottom-color: black;
  transform: translate(-50%, 50px);
}
.tooltip-bottom:hover:before {
  transform: translate(-50%, 0px);
}
.tooltip-bottom:after {
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, calc(100% + 50px));
}
.tooltip-bottom:hover:after {
  transform: translate(-50%, 100%);
}

/*# sourceMappingURL=styles.css.map */
